Source: dtksettings
Section: devel
Priority: optional
Maintainer: Deepin Sysdev <sysdev@deepin.com>
Build-Depends: debhelper (>= 9), pkg-config, qttools5-dev-tools, qt5-default, qt5-qmake
Standards-Version: 3.9.6

Package: libdtksettings
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Deepin Tool Kit Settings library
 DtkSettings is a powerful tool to generation config form json.
 .
 This package contains the shared libraries.

Package: libdtksettings-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdtksettings( =${binary:Version})
Description: Deepin Tool Kit Settings Devel library
 DtkSettings is a powerful tool to generation config form jsons.
 .
 This package contains the header files and static libraries of DtkBase

Package: libdtksettingsview
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Deepin Tool Kit Settings UI library
  DtkSettings is a powerful tool to generation config form json.
  .
  This package contains the shared libraries.

Package: libdtksettingsview-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdtksettingsview( =${binary:Version})
Description: Deepin Tool Kit Settings UI Devel library
  DtkSettings is a powerful tool to generation config form jsons.
  .
  This package contains the header files and static libraries of DtkBase
